
#wrapper {
    padding-left: 20px;
    padding-right: 20px;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
}

.huge {
    font-size: 50px;
    line-height: normal;
}


/*Navigation */

.navbar {
    padding: 20px;
}

.menu li a:hover,
.menu li a:focus {
    background-color: #565656 !important;
    }

.menu>ul>li>a {
    text-decoration: none;
    color: #999;
}

.menu>ul>li>a:hover {
    color: #fff;
}

.navbar-nav>li {

    padding-left: 15px;
}


/* Flot Chart Containers */

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

/* Custom Colored Panels */

.huge {
    font-size: 40px;
}
.panel-footer {
    padding: 0px 35px 0px 35px;
}

.panel-heading {
    border-radius: 20px;
    padding: 40px 20px 40px 60px;
}
.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}

.panel-blue {
    border-color: #5c56da;
}

.panel-blue .panel-heading {
    border-color: #5c56da;
    color: #fff;
    background-color: #5c56da;
}

.panel-blue a {
    color: #5c56da;
}

.panel-blue a:hover {
    color: #1c159c;
}

#bulkOptionsContainer {
    padding: 0px;
}

.logout {
    color: #999;
}

.logout a:hover {
    color: #fff;
}

.bg-grey {

    background-color: #4a4a4a;;
}